# Compiled class files
target/
*.class

# Eclipse
.settings/
.classpath
.project
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Non committare i dati del database
pgdata/