name: Build and deploy Node.js app to Azure Web App - bugboard26-frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      
      - name: npm install and build
        working-directory: ./frontend
        run: |
          npm ci
          npm run build
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: frontend/build
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0030DBE5797A41249CA1EBD5DC2DEE4A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0A10E5C1CEEF49AE81E38387358E3D97 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B1A1D40BBDDA46809501F4A74EFEFA5C }}
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bugboard26-frontend'
          slot-name: 'Production'
          package: .
